body {
  background: #eee;
}

.container {
  width: 750px;
}

header #logo {
  position: relative;
  left: -80px;
  width: 198px;
  height: 197px;
  z-index: 2;
  margin-top: 20px;
}

#body {
  margin-top: -180px;
  z-index: 1;
}

#body .nav-tabs {
  margin: 71px 18px 0 0;
}

#body #content {
  margin-top: -1px;
  background: white;
  border: 1px solid #ddd;
  padding: 60px 20px 10px;
  height: 360px;
}

#body #editor {
  width: 344px;
  height: 310px;
}

#body #run-btn {
  height: 29px;
  font-size: 24px;
  line-height: 26px;
  float: right;
  margin-bottom: 4px;
}

#body #run-btn i {
  line-height: 26px;
}

#body #console {
  background: #f8f8f8;
  width: 344px;
  height: 310px;
  font-family: Consolas,Menlo,"Liberation Mono",Courier,monospace;
  font-size: 12px;
  line-height: 18px;
  color: #eee;
  padding: 0 2px;
  overflow: scroll;
  overflow-x: hidden;
}

#body #console .console-punc {
  color: black;
}

#body #console .console-keyword {
  color: black;
  font-weight: bold;
}

#body #console .console-number {
  color: #099;
}

#body #console .console-string {
  color: #d14;
}
